.title{
    -fx-font-weight: bold;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 25px;
}
Button{
    -fx-padding: 5 5 5 10;
    -fx-pref-width: 300px;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-alignment: center;
}

#button{
    -fx-background-color: #1877f2;
}

#export{
    -fx-background-color: green;
}

#messagesListView .list-cell{
    -fx-background-color: #1c1e21;
}

.white-canvas{
    -fx-background-color: white;
}

.messageButton{
    -fx-padding: 5px;
    -fx-min-width: 70px;
    -fx-pref-height: 33px;
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-background-color: #1877f2;
}

.display{
    -fx-background-color: #1c1e21;
    -fx-padding: 10 5;
}

#name{
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

#accept{
    -fx-text-fill: white;
    -fx-background-color: blue;
    -fx-pref-width: 145px;
}

#reject{
    -fx-text-fill: white;
    -fx-background-color: red;
    -fx-pref-width: 145px;
}

MenuBar{
    -fx-font-size: 14px;
    -fx-background-color:#1c1e21;
    -fx-padding: 0 5;
}

.menu .label{
    -fx-text-fill: #1877f2;
    -fx-font-weight: bold;
}

.menu-item .label{
    -fx-text-fill: #1877f2;
}

.menu-item:focused{
    -fx-background-color: #1c1e21;
}

.top{
    -fx-font-size: 24px;
    -fx-text-fill: #3b5998;
    -fx-font-weight: bold;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}

#messagesListView .list-cell{
    -fx-border-width: 0px;
    -fx-padding: 2px;
}
#messagesListView{
    -fx-background-insets: 0, 1;
}

#event_message{
    -fx-font-size: 25px;
    -fx-font-weight: bold;
}

Separator{
    -fx-padding: 5px;
}

.send_request{
    -fx-background-color: green;
    -fx-text-fill: white;
}

.sign_up{
    -fx-background-color: #42b72a;
}

TextField{
    -fx-padding: 5px;
    -fx-font-size: 16px;
}

PasswordField{
    -fx-padding: 5px;
    -fx-font-size: 16px;
}

#error{
    -fx-text-fill: red;
}

.hyperlink{
    -fx-border-color: transparent;
}

.main{
    -fx-background-color: linear-gradient(to left, #3b5998, #FFFFFF);
}

#del_friend{
    -fx-background-color: red;
    -fx-text-fill: white;
}